<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ykkj.weiyi.dao.MQIBeanMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.ykkj.weiyi.pojo.MQIBean">
        <result column="id" property="id"/>
        <result column="scale" property="scale"/>
        <result column="roadcode" property="roadcode"/>
        <result column="ldlx" property="ldlx"/>
        <result column="mqi" property="mqi"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `scale`,
        `roadcode`,
        `ldlx`,
        `mqi`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO m_q_i_bean (
            `id`,
            `scale`,
            `roadcode`,
            `ldlx`,
            `mqi`
        ) VALUES (
            #{pojo.id},
            #{pojo.scale},
            #{pojo.roadcode},
            #{pojo.ldlx},
            #{pojo.mqi}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO m_q_i_bean
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.scale!=null"> `scale`,</if>
            <if test="pojo.roadcode!=null"> `roadcode`,</if>
            <if test="pojo.ldlx!=null"> `ldlx`,</if>
            <if test="pojo.mqi!=null"> `mqi`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.scale!=null">#{pojo.scale},</if>
            <if test="pojo.roadcode!=null">#{pojo.roadcode},</if>
            <if test="pojo.ldlx!=null">#{pojo.ldlx},</if>
            <if test="pojo.mqi!=null">#{pojo.mqi},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO m_q_i_bean (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.scale},
            #{pojo.roadcode},
            #{pojo.ldlx},
            #{pojo.mqi}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateGS" parameterType="com.ykkj.weiyi.pojo.MQIBean">
        UPDATE mqi_gs
        <set>
            <if test="mqi != null"> `mqi` = #{mqi} </if>
        </set>
        WHERE id = #{id}  AND  Scale = #{scale}
                AND roadcode = #{roadcode}
        and ldlx = #{ldlx}
    </update>
    <update id="updateGD" parameterType="com.ykkj.weiyi.pojo.MQIBean">
        UPDATE mqi_gd
        <set>
            <if test="mqi != null"> `mqi` = #{mqi} </if>
        </set>
        WHERE id = #{id}  AND  Scale = #{scale}
                AND roadcode = #{roadcode}
        and ldlx = #{ldlx}
    </update>
    <update id="updateSD" parameterType="com.ykkj.weiyi.pojo.MQIBean">
        UPDATE mqi_sd
        <set>
            <if test="mqi != null"> `mqi` = #{mqi} </if>
        </set>
        WHERE id = #{id}  AND  Scale = #{scale}
                AND roadcode = #{roadcode}
        and ldlx = #{ldlx}
    </update>

<!--auto generated by codehelper on 2018-04-17 12:27:27-->
    <select id="findGS" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from mqi_gs
    </select>
    <select id="findGD" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from mqi_gd
    </select>
    <select id="findSD" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from mqi_sd
    </select>
    

</mapper>

