<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ykkj.weiyi.dao.MqiValMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.ykkj.weiyi.pojo.MqiVal">
        <result column="code" property="code"/>
        <result column="fx" property="fx"/>
        <result column="mqi" property="mqi"/>
        <result column="qdzh" property="qdzh"/>
        <result column="zdzh" property="zdzh"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `code`,
        `fx`,
        `mqi`,
        `qdzh`,
        `zdzh`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.code">
        INSERT INTO mqi_val (
            `code`,
            `fx`,
            `mqi`,
            `qdzh`,
            `zdzh`
        ) VALUES (
            #{pojo.code},
            #{pojo.fx},
            #{pojo.mqi},
            #{pojo.qdzh},
            #{pojo.zdzh}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.code">
        INSERT INTO mqi_val
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.code!=null">`code`,</if>
            <if test="pojo.fx!=null">`fx`,</if>
            <if test="pojo.mqi!=null">`mqi`,</if>
            <if test="pojo.qdzh!=null">`qdzh`,</if>
            <if test="pojo.zdzh!=null">`zdzh`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.code!=null">#{pojo.code},</if>
            <if test="pojo.fx!=null">#{pojo.fx},</if>
            <if test="pojo.mqi!=null">#{pojo.mqi},</if>
            <if test="pojo.qdzh!=null">#{pojo.qdzh},</if>
            <if test="pojo.zdzh!=null">#{pojo.zdzh},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO mqi_val (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.code},
            #{pojo.fx},
            #{pojo.mqi},
            #{pojo.qdzh},
            #{pojo.zdzh}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE mqi_val
        <set>
            <if test="pojo.code != null">`code` = #{pojo.code},</if>
            <if test="pojo.fx != null">`fx` = #{pojo.fx},</if>
            <if test="pojo.mqi != null">`mqi` = #{pojo.mqi},</if>
            <if test="pojo.qdzh != null">`qdzh` = #{pojo.qdzh},</if>
            <if test="pojo.zdzh != null">`zdzh` = #{pojo.zdzh}</if>
        </set>
        WHERE code = #{pojo.code}
    </update>

    <!--auto generated by codehelper on 2018-04-17 12:46:44-->
    <select id="find" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from mqi_val
    </select>

    <select id="findGSMQI" resultMap="AllColumnMap">
        SELECT code from mqi_val v
        WHERE v.code in (
        SELECT ROADCODE from mqi_gs
        GROUP BY ROADCODE
        )
        GROUP BY code
    </select>
    <select id="findGDMQI" resultMap="AllColumnMap">
        SELECT code from mqi_val v
        WHERE v.code in (
        SELECT ROADCODE from mqi_gd
        GROUP BY ROADCODE
        )
        GROUP BY code
    </select>
    <select id="findSDMQI" resultMap="AllColumnMap">
        SELECT code from mqi_val v
        WHERE v.code in (
        SELECT ROADCODE from mqi_sd
        GROUP BY ROADCODE
        )
        GROUP BY code
    </select>
    <select id="findMqiList" resultMap="AllColumnMap" parameterType="com.ykkj.weiyi.pojo.MqiVal">
       SELECT * from mqi_val
        where code = #{code}
        and fx = #{fx}
        and ( convert(mqi,DECIMAL)> #{minVal} and convert(mqi,DECIMAL) &lt;= #{maxVal} )
        ORDER BY CONVERT(qdzh, DECIMAL) asc;
    </select>

</mapper>

