<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ykkj.weiyi.dao.NBaoAttrDao">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.ykkj.weiyi.pojo.NBaoAttr">
        <result column="F_VC_GLLXJBQKMXBZJ" jdbcType="VARCHAR" property="F_VC_GLLXJBQKMXBZJ"/>
        <result column="F_NB_ND" jdbcType="DOUBLE" property="F_NB_ND"/>
        <result column="F_VC_XZQH" jdbcType="VARCHAR" property="F_VC_XZQH"/>
        <result column="F_VC_LXBH" jdbcType="VARCHAR" property="F_VC_LXBH"/>
        <result column="F_VC_LXMC" jdbcType="VARCHAR" property="F_VC_LXMC"/>
        <result column="F_VC_GLLDQDMC" jdbcType="VARCHAR" property="F_VC_GLLDQDMC"/>
        <result column="F_VC_GLLDZDMC" jdbcType="VARCHAR" property="F_VC_GLLDZDMC"/>
        <result column="F_NB_GLLDQDZH" jdbcType="DOUBLE" property="F_NB_GLLDQDZH"/>
        <result column="F_NB_GLLDZDZH" jdbcType="DOUBLE" property="F_NB_GLLDZDZH"/>
        <result column="F_NB_GLLDLC" jdbcType="DOUBLE" property="F_NB_GLLDLC"/>
        <result column="F_VC_GLJSDJDM" jdbcType="VARCHAR" property="F_VC_GLJSDJDM"/>
        <result column="F_VC_GLJSDJMC" jdbcType="VARCHAR" property="F_VC_GLJSDJMC"/>
        <result column="F_CR_SFYFGS" jdbcType="CHAR" property="F_CR_SFYFGS"/>
        <result column="F_NB_CDSL" jdbcType="DOUBLE" property="F_NB_CDSL"/>
        <result column="F_VC_MCLXBM" jdbcType="VARCHAR" property="F_VC_MCLXBM"/>
        <result column="F_VC_MCLXMC" jdbcType="VARCHAR" property="F_VC_MCLXMC"/>
        <result column="F_NB_LJKD" jdbcType="DOUBLE" property="F_NB_LJKD"/>
        <result column="F_NB_LMKD" jdbcType="DOUBLE" property="F_NB_LMKD"/>
        <result column="F_NB_GLMCHD" jdbcType="DOUBLE" property="F_NB_GLMCHD"/>
        <result column="F_NB_GLLDSJSS" jdbcType="DOUBLE" property="F_NB_GLLDSJSS"/>
        <result column="F_NB_XJND" jdbcType="DOUBLE" property="F_NB_XJND"/>
        <result column="F_NB_GJND" jdbcType="DOUBLE" property="F_NB_GJND"/>
        <result column="F_NB_ZJYCDZXND" jdbcType="DOUBLE" property="F_NB_ZJYCDZXND"/>
        <result column="F_VC_DLLXBM" jdbcType="VARCHAR" property="F_VC_DLLXBM"/>
        <result column="F_CR_SFCGLD" jdbcType="CHAR" property="F_CR_SFCGLD"/>
        <result column="F_CR_SFDTLD" jdbcType="CHAR" property="F_CR_SFDTLD"/>
        <result column="F_CR_SFSFLD" jdbcType="CHAR" property="F_CR_SFSFLD"/>
        <result column="F_VC_CFLDLXBH" jdbcType="VARCHAR" property="F_VC_CFLDLXBH"/>
        <result column="F_NB_CFLDQDZH" jdbcType="DOUBLE" property="F_NB_CFLDQDZH"/>
        <result column="F_NB_CFLDZDZH" jdbcType="DOUBLE" property="F_NB_CFLDZDZH"/>
        <result column="F_NB_YHLC" jdbcType="DOUBLE" property="F_NB_YHLC"/>
        <result column="F_NB_KLVLC" jdbcType="DOUBLE" property="F_NB_KLVLC"/>
        <result column="F_NB_YLHLC" jdbcType="DOUBLE" property="F_NB_YLHLC"/>
        <result column="F_VC_DMLXBM" jdbcType="VARCHAR" property="F_VC_DMLXBM"/>
        <result column="F_VC_DMLXMC" jdbcType="VARCHAR" property="F_VC_DMLXMC"/>
        <result column="F_NB_HDSL" jdbcType="DOUBLE" property="F_NB_HDSL"/>
        <result column="F_VC_GYDMBM" jdbcType="VARCHAR" property="F_VC_GYDMBM"/>
        <result column="F_VC_GYDMMC" jdbcType="VARCHAR" property="F_VC_GYDMMC"/>
        <result column="F_NB_SJCRK" jdbcType="DOUBLE" property="F_NB_SJCRK"/>
        <result column="F_NB_NJRJTL" jdbcType="DOUBLE" property="F_NB_NJRJTL"/>
        <result column="F_VC_GDTZQLXBH" jdbcType="VARCHAR" property="F_VC_GDTZQLXBH"/>
        <result column="F_NB_GDZHCDYLLC" jdbcType="DOUBLE" property="F_NB_GDZHCDYLLC"/>
        <result column="F_CR_SFAGXGLGLJY" jdbcType="CHAR" property="F_CR_SFAGXGLGLJY"/>
        <result column="F_VC_BZ" jdbcType="VARCHAR" property="F_VC_BZ"/>
        <result column="F_DT_CJSJ" jdbcType="DATE" property="F_DT_CJSJ"/>
        <result column="F_DT_GXSJ" jdbcType="DATE" property="F_DT_GXSJ"/>
        <result column="F_VC_SJLY" jdbcType="VARCHAR" property="F_VC_SJLY"/>
        <result column="F_VC_JDMC" jdbcType="VARCHAR" property="F_VC_JDMC"/>
        <result column="F_NB_YZBS" jdbcType="DOUBLE" property="F_NB_YZBS"/>
        <result column="F_VC_FSBS" jdbcType="VARCHAR" property="F_VC_FSBS"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        F_VC_GLLXJBQKMXBZJ,
        F_NB_ND,
        F_VC_XZQH,
        F_VC_LXBH,
        F_VC_LXMC,
        F_VC_GLLDQDMC,
        F_VC_GLLDZDMC,
        F_NB_GLLDQDZH,
        F_NB_GLLDZDZH,
        F_NB_GLLDLC,
        F_VC_GLJSDJDM,
        F_VC_GLJSDJMC,
        F_CR_SFYFGS,
        F_NB_CDSL,
        F_VC_MCLXBM,
        F_VC_MCLXMC,
        F_NB_LJKD,
        F_NB_LMKD,
        F_NB_GLMCHD,
        F_NB_GLLDSJSS,
        F_NB_XJND,
        F_NB_GJND,
        F_NB_ZJYCDZXND,
        F_VC_DLLXBM,
        F_CR_SFCGLD,
        F_CR_SFDTLD,
        F_CR_SFSFLD,
        F_VC_CFLDLXBH,
        F_NB_CFLDQDZH,
        F_NB_CFLDZDZH,
        F_NB_YHLC,
        F_NB_KLVLC,
        F_NB_YLHLC,
        F_VC_DMLXBM,
        F_VC_DMLXMC,
        F_NB_HDSL,
        F_VC_GYDMBM,
        F_VC_GYDMMC,
        F_NB_SJCRK,
        F_NB_NJRJTL,
        F_VC_GDTZQLXBH,
        F_NB_GDZHCDYLLC,
        F_CR_SFAGXGLGLJY,
        F_VC_BZ,
        F_DT_CJSJ,
        F_DT_GXSJ,
        F_VC_SJLY,
        F_VC_JDMC,
        F_NB_YZBS,
        F_VC_FSBS
    </sql>

    <select id="findList" parameterType="com.ykkj.weiyi.pojo.NBaoAttr" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from XJCX.V_A_GLBB_GLLXJBQKMXB
        <where>
            <if test="F_VC_LXBH != null and F_VC_LXBH !='' ">
                AND F_VC_LXBH = #{F_VC_LXBH}
            </if>
            <if test="F_NB_GLLDQDZH != null and F_NB_GLLDQDZH !='' ">
                AND F_NB_GLLDQDZH &gt;= #{F_NB_GLLDQDZH}
            </if>
            <if test="F_NB_GLLDZDZH != null and F_NB_GLLDZDZH !='' ">
                AND F_NB_GLLDZDZH &lt;= #{F_NB_GLLDZDZH}
            </if>
            <if test="F_NB_GLLDQDZH != null and F_NB_GLLDQDZH !='' ">
                OR (F_NB_GLLDQDZH &lt;= #{F_NB_GLLDQDZH} AND F_NB_GLLDZDZH &gt;= #{F_NB_GLLDQDZH}) AND F_VC_LXBH =
                #{F_VC_LXBH}
            </if>
            <if test="F_NB_GLLDZDZH != null and F_NB_GLLDZDZH !='' ">
                OR (F_NB_GLLDQDZH &lt;= #{F_NB_GLLDZDZH} AND F_NB_GLLDZDZH &gt;= #{F_NB_GLLDZDZH}) AND F_VC_LXBH =
                #{F_VC_LXBH}
            </if>
        </where>
        ORDER BY F_NB_GLLDZDZH ASC
    </select>

    <select id="queryLenght" parameterType="com.ykkj.weiyi.pojo.NBaoAttr" resultType="java.lang.String">
        SELECT SUM (G.F_NB_GLLDLC) FROM XJCX.V_A_GLBB_GLLXJBQKMXB G
        where G.F_VC_LXBH = #{F_VC_LXBH}
    </select>

    <select id="findRoadNUM" parameterType="com.ykkj.weiyi.pojo.NBaoRoadJSDJNUM" resultType="java.lang.String">
        select sum(F_NB_LC) tj from V_A_GLBB_GLLCNDDDSAJSDJF
        <where>
            <if test="f_nb_nd != '' and f_nb_nd != null">
                AND f_nb_nd = #{f_nb_nd}
            </if>
            <if test="f_vc_gllcndddszbdm != '' and f_vc_gllcndddszbdm != null">
                AND f_vc_gllcndddszbdm = #{f_vc_gllcndddszbdm}
            </if>
            <if test="f_vc_xzdjdm != '' and f_vc_xzdjdm != null">
                AND f_vc_xzdjdm = #{f_vc_xzdjdm}
            </if>
            <if test="f_vc_gljsdjdm != '' and f_vc_gljsdjdm != null">
                AND f_vc_gljsdjdm = #{f_vc_gljsdjdm}
            </if>
        </where>
    </select>
    <select id="findBirdgeNUM" parameterType="com.ykkj.weiyi.pojo.NBaoBirdgeNUM" resultType="java.lang.Integer">
        select sum(F_NB_TJZ) tj from V_A_GLBB_GLQLDKNDDDS
        <where>
            <if test="1==1">
                AND F_VC_XZDJDM &lt;&gt; 'GS'
            </if>
            <if test="f_nb_nd != '' and f_nb_nd != null">
                AND f_nb_nd = #{f_nb_nd}
            </if>
            <if test="f_vc_gllcndddszbdm != '' and f_vc_gllcndddszbdm != null">
                AND f_vc_gllcndddszbdm = #{f_vc_gllcndddszbdm}
            </if>
            <if test="f_vc_xzdjdm != '' and f_vc_xzdjdm != null">
                AND f_vc_xzdjdm = #{f_vc_xzdjdm}
            </if>
            <if test="f_vc_glqltjlxdm != '' and f_vc_glqltjlxdm != null">
                AND f_vc_glqltjlxdm = #{f_vc_glqltjlxdm}
            </if>
            <if test="f_vc_tjdwdm != '' and f_vc_tjdwdm != null">
                AND f_vc_tjdwdm = #{f_vc_tjdwdm}
            </if>
        </where>
    </select>
    <select id="findSuiDaoNUM" parameterType="com.ykkj.weiyi.pojo.NBaoSuiDaoNUM" resultType="java.lang.Integer">
        select sum(F_NB_TJZ) tj from V_A_GLBB_GLSDNDDDS
        <where>
            <if test="1==1">
                AND F_VC_XZDJDM &lt;&gt; 'GS'
            </if>
            <if test="f_nb_nd != '' and f_nb_nd != null">
                AND f_nb_nd = #{f_nb_nd}
            </if>
            <if test="f_vc_gllcndddszbdm != '' and f_vc_gllcndddszbdm != null">
                AND f_vc_gllcndddszbdm = #{f_vc_gllcndddszbdm}
            </if>
            <if test="f_vc_xzdjdm != '' and f_vc_xzdjdm != null">
                AND f_vc_xzdjdm = #{f_vc_xzdjdm}
            </if>
            <if test="f_vc_sdfldm != '' and f_vc_sdfldm != null">
                AND f_vc_sdfldm = #{f_vc_sdfldm}
            </if>
            <if test="f_vc_tjdwdm != '' and f_vc_tjdwdm != null">
                AND f_vc_tjdwdm = #{f_vc_tjdwdm}
            </if>
        </where>
    </select>

    <select id="findSmallBridgeNUM" parameterType="com.ykkj.weiyi.pojo.NBaoSmallBridgeNUM"
            resultType="java.lang.Integer">
        SELECT sum(F_NB_TJZ) FROM (
        SELECT AG.F_VC_GLQLNDDDSASYNXID,AG.F_NB_ND
        ,AG.F_VC_GLLCNDDDSZBDM,ND.F_VC_GLLCNDDDSZBMC
        ,AG.F_VC_GLQLTJASYNXLXDM,LX.F_VC_GLQLTJASYNXLXMC
        ,AG.F_VC_TJDWDM,DW.F_VC_TJDWMC
        ,AG.F_VC_XZDJDM,XZ.F_VC_XZDJMC
        ,AG.F_NB_TJZ
        FROM SJZX_ODS.V_A_GLBB_GLQLNDDDSASYNX AG
        LEFT JOIN SJZX_ODS.C_GLBB_GLLCNDDDSZB ND ON AG.F_VC_GLLCNDDDSZBDM=ND.F_VC_GLLCNDDDSZBDM
        LEFT JOIN SJZX_ODS.C_GLBB_GLQLTJASYNXLX LX ON AG.F_VC_GLQLTJASYNXLXDM=LX.F_VC_GLQLTJASYNXLXDM
        LEFT JOIN SJZX_ODS.C_GLBB_TJDW DW ON AG.F_VC_TJDWDM=DW.F_VC_TJDWDM
        LEFT JOIN SJZX_ODS.C_GLBB_XZDJDMNDDDS XZ ON AG.F_VC_XZDJDM=XZ.F_VC_XZDJDM
        ) GG
        <where>
            <if test="1==1">
                AND (
                GG.F_VC_XZDJDM &lt;&gt; 'GS' and GG.F_VC_XZDJDM &lt;&gt; 'Y' and GG.F_VC_XZDJDM &lt;&gt; 'C'
                )
            </if>
            <if test="f_nb_nd != null">
                AND GG.F_NB_ND = #{f_nb_nd}
            </if>
            <if test="f_vc_gllcndddszbdm != null and f_vc_gllcndddszbdm != ''">
                AND GG.F_VC_GLLCNDDDSZBDM = #{f_vc_gllcndddszbdm}
            </if>
            <if test="f_vc_glqltjasynxlxdm != null and f_vc_glqltjasynxlxdm != ''">
                AND GG.F_VC_GLQLTJASYNXLXDM = #{f_vc_glqltjasynxlxdm}
            </if>
            <if test="f_vc_tjdwdm != null and f_vc_tjdwdm != ''">
                AND GG.F_VC_TJDWDM = #{f_vc_tjdwdm}
            </if>
        </where>
    </select>
    <!--WHERE GG.F_NB_ND = '2017' AND GG.F_VC_GLLCNDDDSZBDM = '2' AND GG.F_VC_GLQLTJASYNXLXDM = '011' AND GG.F_VC_TJDWDM = '1'-->
</mapper>

