<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ykkj.weiyi.dao.PlotMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.ykkj.weiyi.pojo.Plot">
        <result column="id" property="id"/>
        <result column="pointx" property="pointx"/>
        <result column="pointy" property="pointy"/>
        <result column="content" property="content"/>
        <result column="keycode" property="keycode"/>
        <result column="createtime" property="createtime"/>
        <result column="createuser" property="createuser"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `pointx`,
        `pointy`,
        `content`,
        `keycode`,
        `createtime`,
        `createuser`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO plot (
            `id`,
            `pointx`,
            `pointy`,
            `content`,
            `keycode`,
            `createtime`,
            `createuser`
        ) VALUES (
            #{pojo.id},
            #{pojo.pointx},
            #{pojo.pointy},
            #{pojo.content},
            #{pojo.keycode},
            #{pojo.createtime},
            #{pojo.createuser}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO plot
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">`id`,</if>
            <if test="pojo.pointx!=null">`pointx`,</if>
            <if test="pojo.pointy!=null">`pointy`,</if>
            <if test="pojo.content!=null">`content`,</if>
            <if test="pojo.keycode!=null">`keycode`,</if>
            <if test="pojo.createtime!=null">`createtime`,</if>
            <if test="pojo.createuser!=null">`createuser`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.pointx!=null">#{pojo.pointx},</if>
            <if test="pojo.pointy!=null">#{pojo.pointy},</if>
            <if test="pojo.content!=null">#{pojo.content},</if>
            <if test="pojo.keycode!=null">#{pojo.keycode},</if>
            <if test="pojo.createtime!=null">#{pojo.createtime},</if>
            <if test="pojo.createuser!=null">#{pojo.createuser},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO plot (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.pointx},
            #{pojo.pointy},
            #{pojo.content},
            #{pojo.keycode},
            #{pojo.createtime},
            #{pojo.createuser}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE plot
        <set>
            <if test="pojo.id != null">`id` = #{pojo.id},</if>
            <if test="pojo.pointx != null">`pointx` = #{pojo.pointx},</if>
            <if test="pojo.pointy != null">`pointy` = #{pojo.pointy},</if>
            <if test="pojo.content != null">`content` = #{pojo.content},</if>
            <if test="pojo.keycode != null">`keycode` = #{pojo.keycode},</if>
            <if test="pojo.createtime != null">`createtime` = #{pojo.createtime},</if>
            <if test="pojo.createuser != null">`createuser` = #{pojo.createuser}</if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <!--auto generated by codehelper on 2017-09-28 16:01:15-->
    <select id="find" resultMap="AllColumnMap" parameterType="com.ykkj.weiyi.pojo.Plot">
        select
        <include refid="all_column"/>
        from plot
        <where>
            <if test="pointx != null and pointx != 0.0">
                AND pointx = #{pointx}
            </if>
            <if test="pointy != null and pointy != 0.0 ">
                AND pointy = #{pointy}
            </if>
        </where>
        ORDER BY createtime
    </select>

<!--auto generated by codehelper on 2017-09-28 17:37:48-->
    <delete id="delete" parameterType="com.ykkj.weiyi.pojo.Plot">
        delete from plot
        <where>
            <if test="pointx != null and pointx != 0.0">
                AND pointx = #{pointx}
            </if>
            <if test="pointy != null and pointy != 0.0 ">
                AND pointy = #{pointy}
            </if>
        </where>
    </delete>
</mapper>

