body {
    background-color: #f6f6f6;
}

.header {
    background-color: #2ed0bb;
    height: 0.88rem;
    width: 100%;
    margin-bottom: 0.2rem;
    color: #FFFFFF;
    position: relative;
}

.header .back {
    position: absolute;
    top: 0.15rem;
    left: 0.20rem;
    z-index: 2;
}

.header .area {
    position: relative;
    /* background-color: #fff; */
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.95rem;
}

.header .right {
    position: absolute;
    top: 0.25rem;
    right: 0.20rem;
    font-size: 0.26rem;
}

.myinfo-container {
    margin-top: 0.2rem;
    width: 100%;
}

.header-content {
    width: 100%;
    height: 1.80rem;
    background-color: #0fad62;
    display: flex;
    justify-content: center;
    font-size: 0.28rem;
    color: #FFFFFF;
}

.header-img {
    height: 1.15rem;
    width: 1.15rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0.3rem;
    border: 3px solid #fff;
    box-shadow: 0 4px 5px #d4d4d4;
}

.header-img img {
    width: 1.15rem;
    height: 1.15rem;
}

.line-bar {
    width: 7rem;
    height: 1.8rem;
    position: relative;
}

.header-content .my-nickname {
    position: absolute;
    left: 1.8rem;
    top: 0.7rem;
}

.myinfo-detail {
    margin-top: 0.2rem;
}

.line-bar-detail {
    width: 100%;
    height: 0.9rem;
    font-size: 0.28rem;
    color: #000;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #eeeeee;
}

.line-bar-detail .line-content {
    height: 0.9rem;
    width: 7rem;
    line-height: 0.9rem;
    position: relative;
    font-size: 0.28rem;
    color: #151515;
    font-family: "微软雅黑";
}

.line-content .left {
    position: absolute;
    left: 0;
}

.line-content .right {
    position: absolute;
    right: 0;

}

.title-content {
    height: 0.6rem;
    font-size: 0.3rem;
    position: relative;
}

.title-content span {
    position: absolute;
    left: 0.25rem;
    top: 0.2rem;
}

.toolbar .picker-button {
    color: #0fad62;
}

.content-input {
    font-size: 0.3rem;
    height: 0.5rem;
    width: 5rem;
    text-align: right;
    border: 0px;
    top: 0.2rem;
    font-family: 微软雅黑;
    right: 0.2rem;

}

.input-update {
    font-size: 0.3rem;
    height: 0.5rem;
    width: 5rem;
    text-align: center;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    border-bottom: 1px solid #b3b3b3;
    top: 0.2rem;
}

.update-page-bt {
    height: 0.7rem;
    background-color: #0fad62;
    color: #FFFFFF;
    line-height: 0.7rem;
    font-size: 0.28rem;
    width: 3rem;
    margin-top: 0.15rem;
    text-align: center;
    margin: 0.2rem 0.2rem;
    border-radius: 0.05rem;
}

/**绑卡**/
.oncard-bt-bar {
    height: 1.1rem;
    width: 100%;
    text-align: center;
    font-size: 0.3rem;
    color: #FFFFFF;
    line-height: 1.1rem;
    margin-top: 0.25rem;
    display: flex;
    justify-content: center;
}

.oncard-bt-bar .oncard-bt {
    background-color: #2ed0bb;
    border-radius: 0.05rem;
    margin: 0 0.2rem;
    width: 5.7rem;
    /*width: 2.5rem;*/
    height: 0.73rem;
    line-height: 0.73rem;
}

.title-bar {
    font-size: 0.3rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.title-content {
    width: 7rem;
}

.ver-line {
    background-image: url(../../images/vertical-line-icon02.png);
    width: 0.02rem;
    height: 0.20rem;
    position: absolute;
    top: 0.15rem;
    left: 0;
}

.card-container {
    font-size: 0.3rem;
    margin-bottom: 0.2rem;
}

.card-content {
    /*background-color: #FFFFFF;*/
    display: flex;
    justify-content: center;
}

.card-line-bar {
    width: 7rem;
    height: 0.9rem;
    line-height: 0.9rem;
    border-bottom: 1px solid #dfdfdf;
    background-color: #FFFFFF;
    position: relative;
    margin-top: 1px;
    box-shadow: 1px 6px 15px #e2e2e2;
}

.line-bar-start {
    border-radius: 0.05rem 0.05rem 0 0;
}

.line-bar-end {
    border-radius: 0 0 0.05rem 0.05rem;
}

.card-line-bar .line-left {
    position: absolute;
    left: 0.2rem;
}

.card-line-bar .line-right {
    position: absolute;
    right: 0.2rem;
}

.save-bt {
    width: 5.7rem;
    height: 0.7rem;
    line-height: 0.7rem;
    background-color: #2ed0bb;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    left: 0.63rem;
    top: 0.1rem;
    border-radius: 0.05rem;
}

.oncard-show {
    color: #0fad62;
}

.card-bar-code {
    width: 1rem;
    height: 0.5rem;
    position: absolute;
    right: 0.15rem;
    top: 0.22rem;
}

.card-qr-code {
    width: 0.7rem;
    height: 0.7rem;
    position: absolute;
    right: 0.15rem;
    top: 0.1rem;
}

/***图片预览时居中 **/
.weui-photo-browser-modal .photo-container {
    justify-content: center;
}

.myinfo-save {
    width: 5.7rem;
    height: 0.7rem;
    line-height: 0.7rem;
    background-color: #0fad62;
    color: #FFFFFF;
    text-align: center;
    /*position: absolute;*/
    left: 0.63rem;
    top: 0.1rem;
    border-radius: 0.05rem;
    margin-top: 0.25rem;
}