* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
img {
  border: none;
}
.container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
header {
  width: 100%;
  height: 1rem;
  background: #2ed0bb;
  margin-bottom: 0.2rem;
}
header .back {
  float: left;
  width: 1.5rem;
  height: 1rem;
  background: url(../img/back.png) no-repeat 0.24rem center;
  background-size: 12% 30%;
}
header p {
  width: 4.5rem;
  height: 1rem;
  float: left;
  color: #fff;
  text-align: center;
  line-height: 1.1rem;
  font-size: 0.36rem;
}
.body-nav {
  width: 5.5rem;
  height: 0.7rem;
  margin: 0 auto;
}
.body-nav ul {
  height: 0.7rem;
  width: 5.5rem;
}
.body-nav ul li {
  float: left;
  width: 2.75rem;
  text-align: center;
  line-height: 0.7rem;
  font-size: 0.3rem;
  color: #939393;
  background: #E0DFDF;
}
.body-nav ul li.bg {
  background: #2ed0bb;
  color: #fff;
}
.body-nav ul .body-nav-one {
  border-radius: .1rem 0 0 .1rem;
}
.body-nav ul .body-nav-two {
  border-radius: 0 .1rem .1rem 0;
}
.person {
  width: 100%;
}
.body-nav-list {
  width: 100%;
  height: 100%;
  display: none;
  overflow: auto;
}
.body-nav-list ul {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  overflow: auto;
}
.body-nav-list ul:first-child {
  margin-top: 0.2rem;
}
.body-nav-list ul li {
  margin-left: .3rem;
  border-bottom: 1px solid #dcdcdc;
  line-height: 0.8rem;
  font-size: 0.32rem;
}
.body-nav-list ul li span {
  display: inline-block;
  float: right;
  width: 0.3rem;
  height: 0.4rem;
  background: url(../img/right.png) no-repeat right;
  background-size: 0.15rem 0.23rem;
  margin: 0.2rem;
}
.sex {
  width: 1.84rem;
  height: 0.6rem;
  display: inline-block;
  position: relative;
  margin: 0.1rem 0 0 0.4rem;
}
.sex #sex-change {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.sex #sex-change + label {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.84rem;
  height: 0.6rem;
  display: inline-block;
  background: url(../img/icon-girl.png) no-repeat;
  background-size: 100%;
}
.sex #sex-change:checked + label {
  background: url(../img/icon-boy.png) no-repeat;
  background-size: 100%;
}
.age {
  width: 1.88rem;
  height: 0.6rem;
  display: inline-block;
  position: relative;
  margin-top: 0.1rem;
  margin-left: 2.8rem;
}
.age #age-change {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.age #age-change + label {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.84rem;
  height: 0.6rem;
  display: inline-block;
  background: url(../img/icon-child.png) no-repeat;
  background-size: 100%;
}
.age #age-change:checked + label {
  background: url(../img/icon-adult.png) no-repeat;
  background-size: 100%;
}
.turn {
  width: 0.8rem;
  height: 0.8rem;
  background: url(../img/turn.png) no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 0.8rem;
  right: 0.55rem;
}
section {
  width: 5rem;
  height: 10rem;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 2.3rem;
  left: 0;
  margin: auto;
}
section div {
  width: 100%;
  height: 100%;
}
.big-head {
  width: 1.5rem;
  height: 1.51rem;
  position: absolute;
  left: 50%;
  margin-left: -0.75rem;
  z-index: 2;
}
.head {
  width: 1.34rem;
  height: 1.53rem;
  position: absolute;
  left: 50%;
  margin-left: -0.67rem;
  z-index: 2;
}
.shead {
  width: 2.71rem;
  height: 2.78rem;
  position: absolute;
  left: 50%;
  top: 0.5rem;
  margin-left: -1.355rem;
  z-index: 2;
}
.sshead {
  width: 3.34rem;
  height: 2.71rem;
  position: absolute;
  left: 50%;
  top: 0.48rem;
  margin-left: -1.67rem;
  z-index: 2;
}
.ssbhead {
  width: 3.34rem;
  height: 2.81rem;
  position: absolute;
  left: 50%;
  top: 0.42rem;
  margin-left: -1.67rem;
  z-index: 2;
}
.big-neck {
  width: 1.35rem;
  height: 0.48rem;
  position: absolute;
  left: 50%;
  top: 1.5rem;
  margin-left: -0.67rem;
  z-index: 2;
}
.big-bneck {
  width: 1.28rem;
  height: 0.48rem;
  position: absolute;
  left: 50%;
  top: 1.45rem;
  margin-left: -0.64rem;
  z-index: 2;
}
.neck {
  width: 2.6rem;
  height: 0.55rem;
  position: absolute;
  left: 50%;
  top: 1.51rem;
  margin-left: -1.3rem;
  z-index: 2;
}
.bneck {
  width: 2rem;
  height: 0.55rem;
  position: absolute;
  left: 50%;
  top: 1.5rem;
  margin-left: -1rem;
  z-index: 2;
}
.sneck {
  width: 1.72rem;
  height: 0.55rem;
  position: absolute;
  left: 50%;
  top: 3.23rem;
  margin-left: -0.86rem;
  z-index: 3;
}
.ssneck {
  width: 1.72rem;
  height: 0.55rem;
  position: absolute;
  left: 50%;
  top: 3.13rem;
  margin-left: -0.86rem;
  z-index: 2;
}
.boyneck {
  width: 1.69rem;
  height: 0.55rem;
  position: absolute;
  left: 50%;
  top: 3.23rem;
  margin-left: -0.86rem;
  z-index: 2;
}
.girlneck {
  width: 1.48rem;
  height: 0.58rem;
  position: absolute;
  left: 50%;
  top: 3.02rem;
  margin-left: -0.62rem;
  z-index: 3;
}
.big-chest1 {
  width: 1.28rem;
  height: 1rem;
  position: absolute;
  left: 50%;
  top: 1.87rem;
  margin-left: -0.642rem;
  z-index: 2;
}
.schest {
  width: 1.68rem;
  height: 0.48rem;
  position: absolute;
  left: 50%;
  top: 3.65rem;
  margin-left: -0.87rem;
  z-index: 3;
}
.bchest {
  width: 1.75rem;
  height: 0.5rem;
  position: absolute;
  left: 50%;
  top: 3.57rem;
  margin-left: -0.85rem;
  z-index: 3;
}
.big-chest {
  width: 1.64rem;
  height: 1.35rem;
  position: absolute;
  left: 50%;
  top: 1.79rem;
  margin-left: -0.818rem;
  z-index: 3;
}
.chest {
  width: 2rem;
  height: 1.02rem;
  position: absolute;
  left: 50%;
  top: 1.95rem;
  margin-left: -1rem;
  z-index: 2;
}
.big-up-limb {
  width: 3.3rem;
  height: 3.98rem;
  position: absolute;
  left: 50%;
  top: 1.86rem;
  margin-left: -1.655rem;
  z-index: 1;
}
.big-upper-limb {
  width: 3.8rem;
  height: 3.98rem;
  position: absolute;
  left: 50%;
  top: 1.92rem;
  margin-left: -1.9rem;
  z-index: 1;
}
.uplimb {
  width: 3.85rem;
  height: 4.24rem;
  position: absolute;
  left: 50%;
  top: 1.93rem;
  margin-left: -1.92rem;
  z-index: 1;
}
.suplimb {
  width: 4.12rem;
  height: 2.13rem;
  position: absolute;
  left: 50%;
  top: 3.315rem;
  margin-left: -2.175rem;
  z-index: 1;
}
.girluplimb {
  width: 4.843rem;
  height: 2.13rem;
  position: absolute;
  left: 50%;
  top: 3.3rem;
  margin-left: -2.419rem;
  z-index: 1;
}
.guplimb {
  width: 5rem;
  height: 2.13rem;
  position: absolute;
  left: 50%;
  top: 3.4rem;
  margin-left: -2.5rem;
  z-index: 1;
}
.bbuplimb {
  width: 4rem;
  height: 2.13rem;
  position: absolute;
  left: 50%;
  top: 3.28rem;
  margin-left: -2.12rem;
  z-index: 1;
}
.big-belly {
  width: 1.71rem;
  height: 1.55rem;
  position: absolute;
  left: 50%;
  top: 2.97rem;
  margin-left: -0.855rem;
  z-index: 2;
}
.belly {
  width: 1.94rem;
  height: 1.66rem;
  position: absolute;
  left: 50%;
  top: 2.93rem;
  margin-left: -0.97rem;
  z-index: 2;
}
.sbelly {
  width: 1.75rem;
  height: 1.31rem;
  position: absolute;
  left: 50%;
  top: 3.94rem;
  margin-left: -0.92rem;
  z-index: 4;
}
.ssbelly {
  width: 1.9rem;
  height: 1.31rem;
  position: absolute;
  left: 50%;
  top: 3.908rem;
  margin-left: -0.92rem;
  z-index: 4;
}
.big-genitals {
  width: 1.81rem;
  height: 0.7rem;
  position: absolute;
  left: 50%;
  top: 4.4rem;
  margin-left: -0.93rem;
  z-index: 3;
}
.big-arse {
  width: 2.07rem;
  height: 0.71rem;
  position: absolute;
  left: 50%;
  top: 4.6rem;
  margin-left: -1.06rem;
  z-index: 3;
}
.arse {
  width: 1.92rem;
  height: 1.08rem;
  position: absolute;
  left: 50%;
  top: 4.47rem;
  margin-left: -0.96rem;
  z-index: 2;
}
.barse {
  width: 2rem;
  height: 1.08rem;
  position: absolute;
  left: 50%;
  top: 4.55rem;
  margin-left: -0.98rem;
  z-index: 2;
}
.sarse {
  width: 1.9rem;
  height: 1.05rem;
  position: absolute;
  left: 50%;
  top: 4.868rem;
  margin-left: -1rem;
  z-index: 3;
}
.sbarse {
  width: 1.9rem;
  height: 1.05rem;
  position: absolute;
  left: 50%;
  top: 4.82rem;
  margin-left: -1rem;
  z-index: 3;
}
.ssarse {
  width: 2.1rem;
  height: 1.15rem;
  position: absolute;
  left: 50%;
  top: 4.81rem;
  margin-left: -1.02rem;
  z-index: 3;
}
.girlarse {
  width: 2.5rem;
  height: 1.05rem;
  position: absolute;
  left: 50%;
  top: 5.1rem;
  margin-left: -1.25rem;
  z-index: 3;
}
.big-low-limb {
  width: 1.85rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  top: 4.79rem;
  margin-left: -0.94rem;
  z-index: 2;
}
.big-lower-limb {
  width: 2rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  top: 5.01rem;
  margin-left: -1.02rem;
  z-index: 2;
}
.limb {
  width: 1.9rem;
  height: 4.4rem;
  position: absolute;
  left: 50%;
  top: 5.46rem;
  margin-left: -0.95rem;
  z-index: 2;
}
.blimb {
  width: 2.16rem;
  height: 4.45rem;
  position: absolute;
  left: 50%;
  top: 5.43rem;
  margin-left: -1.08rem;
  z-index: 2;
}
.slowlimb {
  width: 1.8rem;
  height: 2.62rem;
  position: absolute;
  left: 50%;
  top: 5.45rem;
  margin-left: -0.98rem;
  z-index: 2;
}
.sslowlimb {
  width: 2.1rem;
  height: 2.62rem;
  position: absolute;
  left: 50%;
  top: 5.47rem;
  margin-left: -1.02rem;
  z-index: 2;
}
.slowerlimb {
  width: 1.79rem;
  height: 2.62rem;
  position: absolute;
  left: 50%;
  top: 5.29rem;
  margin-left: -1.05rem;
  z-index: 2;
}
.glowlimb {
  width: 2.5rem;
  height: 3.3rem;
  position: absolute;
  left: 50%;
  top: 5.47rem;
  margin-left: -1.25rem;
  z-index: 2;
}
.big-backside {
  width: 1.9rem;
  height: 2.76rem;
  position: absolute;
  left: 50%;
  top: 1.89rem;
  margin-left: -0.95rem;
  z-index: 2;
}
.bbk {
  width: 1.99rem;
  height: 2.56rem;
  position: absolute;
  left: 50%;
  top: 2.052rem;
  margin-left: -0.995rem;
  z-index: 2;
}
.sback {
  width: 1.7rem;
  height: 1.34rem;
  position: absolute;
  left: 50%;
  top: 3.6rem;
  margin-left: -0.9rem;
  z-index: 2;
}
.girlback {
  width: 2.3rem;
  height: 2rem;
  position: absolute;
  left: 50%;
  top: 3.315rem;
  margin-left: -1.15rem;
  z-index: 2;
}
.big-girl-backside,
.big-boy-backside,
.big-girl-front,
.big-boy-front,
.small-girl-backside,
.small-boy-backside,
.small-girl-front,
.small-boy-front {
  position: relative;
  width: 100%;
  display: none;
}
.big-boy-front {
  display: block;
}
.mark {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 15;
}
.info {
  width: 4.5rem;
  height: 100%;
  background: #fff;
  line-height: 2.6rem;
  -webkit-transform: translate3d(100%, 0, 0);
  -webkit-transition: translate 1s;
  -moz-transform: translate3d(100%, 0, 0);
  -moz-transition: translate 1s;
  -o-transform: translate3d(100%, 0, 0);
  -o-transition: translate 1s;
  -ms-transform: translate3d(100%, 0, 0);
  -ms-transition: translate 1s;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 29999;
}
.info p {
  text-align: center;
  color: #2ed0bb;
  font-size: 0.35rem;
  line-height: 0.75rem;
  border-bottom: 1px solid #dcdcdc;
}
.info ul {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 0.88rem;
}
.info ul li {
  margin-left: .5rem;
  line-height: 0.8rem;
  font-size: 0.32rem;
  border-bottom: 1px solid #dcdcdc;
}
.info ul li span {
  display: inline-block;
  float: right;
  width: 0.3rem;
  height: 0.4rem;
  background: url(../img/right.png) no-repeat right;
  background-size: 0.15rem 0.23rem;
  margin: 0.2rem;
}
.ask {
  width: 100%;
  height: 100%;
}
.question {
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transform: translate3d(100%, 0, 0);
  -webkit-transition: translate 1s;
  -moz-transform: translate3d(100%, 0, 0);
  -moz-transition: translate 1s;
  -o-transform: translate3d(100%, 0, 0);
  -o-transition: translate 1s;
  -ms-transform: translate3d(100%, 0, 0);
  -ms-transition: translate 1s;
  position: absolute;
  top: 0;
  right: 0;
}
.question:nth-of-type(1) {
  -webkit-transform: translate3d(0, 0, 0);
}
.question p {
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  width: 85%;
  text-align: left;
  color: #fff;
  font-size: 0.35rem;
  margin: 1.2rem 0 0 7.5%;
  line-height: 0.5rem;
  background: url(../img/chart.png) no-repeat;
  background-size: 100% 100%;
}
.question .aff {
  width: 100%;
  height: 0.7rem;
  margin-top: 1rem;
}
.question .aff li {
  width: 30%;
  height: 0.7rem;
  float: left;
  font-size: 0.35rem;
  line-height: 0.7rem;
  text-align: center;
  color: #1a1a1a;
  border: 1px solid #2ed0bb;
  border-radius: .3rem;
}
.question .aff li.yes {
  margin: 0 13%;
}
.question .aff li.yyes {
  width: 60%;
  margin: 0 18%;
}
.question .aff li.no {
  margin-right: 13%;
}
.off-list {
  width: 100%;
  height: 100%;
  padding-bottom: 1.5rem;
  overflow: auto;
}
.off-list p {
  margin: 0 .2rem;
  line-height: 0.45rem;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid #dcdcdc;
  background: url(../img/right.png) no-repeat right;
  background-size: 0.2rem 0.25rem;
}
.off-list p a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  line-height: 0.5rem;
}
.off-list p span {
  font-size: 0.33rem;
}
.off-list p small {
  display: block;
  font-size: 0.3rem;
  color: #656565;
}
