html { overflow-x: hidden; overflow-y: auto;}

.label-con-industry{margin-bottom:10px;margin-right:20px;}

.select-con{width: 80px;}
.row-no-left-padding{padding-left: 0px !important;}
.row-no-right-padding{padding-right: 0px !important;}
.row-no-padding{padding-left: 0px !important;padding-right: 0px !important;}

.background-darkgray{background-color: darkgray;}
.background-darkgrey{background-color: darkgrey;}
.background-lightbule{background-color: lightblue;}
.background-info{background-color: #40bbea;}

