<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	<!-- 定时任务单独一个文件，避免重复加载 -->
	<!-- 开启定时器 -->
	<!-- <task:annotation-driven /> -->
	<!-- xml方式配置 -->
  	<!--<bean id="cancelOrDelay" class="com.ykkj.weiyi.quartz.NumPayOvertime"></bean>-->
  	<!--<bean id="remind" class="com.ykkj.weiyi.quartz.DoctorRemind"></bean>-->
  	<!--<bean id="downloadBill" class="com.ykkj.weiyi.quartz.DownloadBill"></bean>-->
    <!-- <task:scheduled-tasks>  
        <task:scheduled ref="cancelOrDelay" method="cancelNonpaymentNum" cron="0 0/5 * * * ?" />  
        <task:scheduled ref="cancelOrDelay" method="delayRefund" cron="0 40 0/5 * * ?" />  
        <task:scheduled ref="remind" method="remind" cron="5 0 0/1 * * ?" />  
        <task:scheduled ref="downloadBill" method="downloadWeChatBill" cron="30 5 12 * * ?" />  
        <task:scheduled ref="downloadBill" method="downloadHisBill" cron="30 30 12 * * ?" />  
    </task:scheduled-tasks> -->
   <!--  定时任务自动扫描的包名(注解方式) -->
    <context:component-scan base-package="com.ykkj.weiyi.quartz" />
    
</beans>