* {
  padding: 0;
  margin: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
body {
  background: #f5f5f5;
}
.container {
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
  height: 1rem;
  background: #2ed0bb;
}
header .back {
  float: left;
  width: 1rem;
  height: 1rem;
  background: url(../img/back.png) no-repeat 0.24rem center;
  background-size: 15% 30%;
}
header p {
  width: 5.5rem;
  height: 1rem;
  float: left;
  color: #fff;
  text-align: center;
  line-height: 1.1rem;
  font-size: 0.36rem;
}
section {
  width: 100%;
  height: 100%;
  margin-top: 0.18rem;
  overflow: auto;
  background: #fff;
  padding-bottom: 1rem;
  box-shadow: 0 2px 3px 1px #e5e5e5;
}
section dl {
  border-bottom: 1px solid #dfdfdf;
  height: 1.61rem;
  width: 93.5%;
  margin: 0 0.24rem;
  zoom: 1;
}
section dl:last-child {
  border: none;
  margin-bottom: 0.2rem;
}
section dl:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  versibility: hidden;
}
section dl dt {
  width: 17%;
  height: 1.61rem;
  float: left;
  padding-top: 0.25rem;
}
section dl dt img {
  width: 1.14rem;
  height: 1.14rem;
  border-radius: 50%;
}
section dl dd {
  width: 79%;
  height: 1.61rem;
  float: right;
  padding-top: 0.1rem;
}
section dl dd p {
  color: #656565;
  font-size: 0.28rem;
  line-height: 0.44rem;
}
section dl dd p.doc-name {
  color: #1a1a1a;
  font-size: 0.3rem;
}
section dl dd p span {
  display: inline-block;
}
section dl dd p span.doc-obj {
  margin-left: 0.2rem;
}
