body {
    color: #595959;
    font-size: 12px;
    font-family: "微软雅黑";
    position: relative;
    background: #fff;
}

ol,
ul,
li {
    list-style: none;
}

/* span,
i {
    display: inline-block;
    font-style: normal;
} */

fieldset,
img {
    border: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}


.event_box {
    width: 840px;
    margin: 3% auto 0;
    position: relative;
    /*min-height: 420px;*/
}

.event_box .parHd {
    width: 100%;
    display: inline-block;
    height: 92px;
    overflow: hidden;
}

.tempWrap {
    overflow: hidden;
    position: relative;
    width: 768px;
}

.parHd .tempWrap {
    margin: 0 auto;
}

.parHd .tempWrap:after {
    content: '';
    width: 90%;
    height: 1px;
    background: #580000;
    position: absolute;
    top: 33%;
    right: -140%;
    right: 5%;
    top: 35%;
    margin-top: 14.5px;
    z-index: 10;
}

/* .timeline {
    content: '';
    width: 85%;
    height: 1px;
    background: #580000;
    position: absolute;
    top: 33%;
    right: -140%;
    right: 8%;
    top: 35%;
    margin-top: -0.5px;
    z-index: 10;
} */

.sPrev {
    left: 0;
    background-image: url("../images/left_ico.png")
}

.sNext {
    right: 0;
    background-image: url("../images/right_ico.png");
}

.sPrev,
.sNext {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 20px;
}

.sPlay {
    left: 0;
    background-image: url("../images/play.png");
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 56px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sPause {
    left: -6px;
    background-image: url("../images/pause.png");
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    top: 52px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.parHd ul {
    text-align: center;
    padding-top: 40px !important;
    width: 2100px;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    left: 0px;
    transition: left 0.4s;
    word-break: normal;
    word-wrap: normal;
    line-height: normal;
}

.parHd li {
    display: inline-block;
    cursor: pointer;
    padding-top: 30px;
    font-size: 16px;
    color: #000;
    margin: 0 30px;
    position: relative;
    float: left;
    width: 100px;
}

.parHd li.act span {
    display: block;
    width: 24px;
    height: 24px;
    overflow: hidden;
    background: url(../images/cat.png) no-repeat;
    position: absolute;
    top: -12px;
    left: 38px;
    z-index: 21;
}

.parHd li span,
.parHd li.clone span {
    display: none;
}

.parHd li:after {
    content: '';
    background: url(../images/dot_ico.png) no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 20;
    top: -12px;
    left: 50%;
    margin-left: -12px;
}


.sPrev img,
.sNext img {
    transition: all .6s cubic-bezier(.51, 1.1, .9, .95);
    -moz-transition: all .6s cubic-bezier(.51, 1.1, .9, .95);
    -webkit-transition: all .6s cubic-bezier(.51, 1.1, .9, .95);
    -o-transition: all .6s cubic-bezier(.51, 1.1, .9, .95);
}

.tempWrap ul li p {
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: -38px;
    left: -26px;
    display: block;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    background: #007ee4;
    border-radius: 11px;
    width: 120px;
}

.tempWrap ul li.act p {
    display: block !important;
}