body {
    background-color: #f6f6f6;
}

.myinfo-container {
    margin-top: 0.2rem;
    width: 100%;
}

.header-content {
    width: 100%;
    height: 1.80rem;
    background-color: #0fad62;
    display: flex;
    justify-content: center;
    font-size: 0.28rem;
    color: #FFFFFF;
}

.header-img {
    height: 1.15rem;
    width: 1.15rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0.3rem;
    border: 3px solid #fff;
    box-shadow: 0 4px 5px #d4d4d4;
}

.header-img img {
    width: 1.15rem;
    height: 1.15rem;
}

.line-bar {
    width: 7rem;
    height: 1.8rem;
    position: relative;
}

.header-content .my-nickname {
    position: absolute;
    left: 1.8rem;
    top: 0.7rem;
}

.myinfo-detail {
    margin-top: 0.2rem;
}

.line-bar-detail {
    width: 100%;
    height: 0.9rem;
    font-size: 0.28rem;
    color: #000;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #eeeeee;
}

.line-bar-detail .line-content {
    height: 0.9rem;
    width: 7rem;
    line-height: 0.9rem;
    position: relative;
    font-size: 0.28rem;
    color: #151515;
    font-family: "微软雅黑";
}

.line-content .left {
    position: absolute;
    left: 0;
}

.line-content .right {
    position: absolute;
    right: 0;

}

.title-content {
    height: 0.9rem;
    font-size: 0.3rem;
    position: relative;
}

.title-content span {
    position: absolute;
    left: 0.25rem;
    top: 0.2rem;
}

.toolbar .picker-button {
    color: #0fad62;
}

.content-input {
    font-size: 0.3rem;
    height: 0.5rem;
    width: 5rem;
    text-align: right;
    border: 0px;
    top: 0.2rem;
    font-family: 微软雅黑;
    right: 0.2rem;

}

.input-update {
    font-size: 0.3rem;
    height: 0.5rem;
    width: 5rem;
    text-align: center;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    border-bottom: 1px solid #efeff4;
    top: 0.2rem;
}

.update-page-bt {
    height: 0.7rem;
    background-color: #0fad62;
    color: #FFFFFF;
    line-height: 0.7rem;
    font-size: 0.28rem;
    width: 3rem;
    margin-top: 0.15rem;
    text-align: center;
    margin: 0.2rem 0.2rem;
    border-radius: 0.05rem;
}

.add-pat {
    height: 1.1rem;
    width: 100%;
    text-align: center;
    font-size: 0.3rem;
    color: #FFFFFF;
    line-height: 1.1rem;
    margin-top: 0.25rem;
    display: flex;
    justify-content: center;
}

.add-pat .pat-bt {
    background-color: #0fad62;
    border-radius: 0.05rem;
    margin: 0 0.2rem;
    width: 5.7rem;
    /* width: 2.5rem; */
    height: 0.73rem;
    line-height: 0.73rem;
}







